.ui-schema-container,
.group-container {
  .el-form-item {
    .el-form-item__label {
      color: #333;
      font-weight: bold;
      padding: 0;
    }
  }
  .el-input-group > .el-input.large {
    border-left: 1px solid #c0c6cc !important;
  }
}
.title-desc {
  color: #a6a6a6;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 18px;
  margin-top: 4px;
}
.el-icon-delete {
  cursor: pointer;
  &::before {
    color: #333;
    font-size: 18px !important;
  }
}
.add-btn {
  text-align: right;
}
.el-input-number {
  width: 100%;
  .el-input__inner {
    text-align: left;
  }
}
.mt-5 {
  .el-button {
    border: none;
    background: none;
    &:hover {
      background: none !important;
    }
  }
  .el-button.is-disabled {
    .el-icon-delete {
      cursor: not-allowed;
    }
  }
}
.el-row {
  padding: 5px 0;
}
