.struct-plan-container {
  .struct-plan-group {
    .struct-item-container {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding: 10px 20px;
      background-color: #e2e2e2;
      border-radius: 24px;
      .struct-item-content {
        width: 100%;
      }
      .struct-item-content > .el-form {
        display: flex !important;
        flex: 1 1 auto;
        align-items: center;
        .el-form-item {
          margin-right: 12px;
          margin-bottom: 0;
          display: flex;
          &:last-child {
            margin-right: 0;
          }
          .el-form-item__label {
            margin-right: 10px;
          }
        }
        .el-form-item,
        .el-form-item__content {
          flex-grow: 1;
        }
      }

      .remove-option-container {
        flex: 0 0 36px;
        text-align: center;
        .el-icon-delete {
          cursor: pointer;
          &::before {
            color: #333;
            font-size: 18px !important;
          }
        }
      }
    }
  }

  .struct-plan-option {
    text-align: right;
  }
}
